@import url('https://fast.fonts.net/cssapi/5a35d5b7-f434-4e08-804e-b3447396894a.css');

body, html { 
background: white;
color: black;
padding: 0; 
margin: 0; 
font-family:'ITC Galliard W01';
}
html {
padding: 1vw;
}
h1 {
font-weight: normal;
color: #039;
font-size: 10vw;
letter-spacing: -0.5vw;
line-height: 100%;
margin: 0;
padding: 0 0 3vw 0;
position: absolute;
bottom: 0;
left: 1vw;
}
p {
margin: 0;
padding: 0;
padding-left: 2px;
}
header, p.title {
text-transform: lowercase;
font-variant: small-caps;
padding-left: 2px;
}
header {
border-bottom: 1px silver solid;
margin-bottom: 2em;
}
ul.large {
list-style-type: square;
line-height: 125%;
}
ul.large a {
font-family: 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
font-weight: bold;
font-size: smaller;
}
ul.large a:hover {
color: gray;
}
ul.info {
font-family: 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
font-size: smaller;
list-style-type: none;
padding: 0;
margin: 0;
}
ul.info li {
display: inline;
}
ul.info li:before {
content: "\2022  ";
}
ul.info li:first-child:before {
content: "";
}
a:link, a:visited {
color: #039;
text-decoration: none;
padding: 2px;
}
a:hover {
text-decoration: underline;
}

#center {
width: 48em;
margin-top: 5em;
margin-left: auto;
margin-right: auto;
line-height: 160%;
}
#center p {
margin-bottom: 1em;
}
#center img {
float: right;
margin: 2em 0 1em 1em;
}

footer {
position: absolute;
bottom: 1vw;
right: 1vw;
font-size: smaller;
font-style: italic;
color: #ccc;
margin-top: .5em;
}
footer a:link, footer a:visited {
padding: 0;
color: #ccc;
}
footer a:hover {
text-decoration: underline;
background: inherit;
}
